$globalFontFamily: 'PingFang SC', "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
$title: 13px;
$subtitle: 12px;

$blue: #20A0FF;
$lightBlue: #58B7FF;
$darkBlue: #1D8CE0;

$mainColor: #273142;

$warning: #fd9827;
$success: #3dbf74;
$danger: #d9534f;


$fontWhite: #fff;
$fontBlack: rgba(10,18,32,.87);
$fontGray: #889;
$fontLight: rgba(9,17,32,.65);

$bdGray: #ddd;
$bdBlack: #333;

$bdRadius: 3px;

$bgWhite: #fff; 
$bgGray: #eee;
$bgBlack: #333;

@mixin reset {

    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;

    * {
        margin: 0;
        border: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    font-family: $globalFontFamily;
    -webkit-font-smoothing: antialiased;

    input,
    textarea,
    button,
    select,
    *[contenteditable=true] {
        outline: none;
    }

    a {
        text-decoration: none;
    }

    ul,
    li {
        list-style: none;
    }

}

@mixin clearfix {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}